{% extends 'blog/base.html' %}
{% block title %} Sign up {% endblock title %}
{% block body %}
<center>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6">
            <label for="" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
            {{form.username}}
        </div><br>
        <div class="col-lg-6 col-md-12">
            <label for="" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
            {{form.email}}
        </div><br>
        <div class="col-lg-6 col-md-12">
            <label for="" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
            {{form.password1}}
        </div><br>
        <div class="col-lg-6 col-md-12">
            <label for="" class="col-md-4 control-label text-right">Confirm Password<span class="text-red">*</span>:</label>
            {{form.password2}}
        </div><br>
        {% for error in form.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
        <div class="col-md-6 col-md-offset-4">
        <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </div>
  </form>
</center>
{% endblock %}
